# Node Modules
node_modules/

# Build Artifacts
dist/
build/
out/

# Environment Variables
.env
.env.*
config/local.js

# OS Specific Files
.DS_Store
Thumbs.db

# Log Files
*.log
logs/
tmp/logs/

# Temporary Files
tmp/
temp/
*.tmp

# Coverage Reports
coverage/
lcov-report/

# IDE Specific Files
.vscode/
.history/
.idea/
*.iml
*.iws
*.ipr
*.sublime-project
*.sublime-workspace
/nbproject/private/
/nbproject/build-impl.xml
/nbproject/configurations.xml
/nbproject/project.xml
/nbproject/templates/

# Debug Logs
npm-debug.log
yarn-error.log
pnpm-debug.log

# Documentation
docs/_build/
